<div class="pl-6">
    <nz-avatar-group class="flex items-center gap-2 mb-2">
    @if (logged) {
      <nz-avatar [nzText]="firstLetter" class="text-green-700! bg-green-200!"></nz-avatar>
      @if (!isCollapsed) {
        <span class="block text-neutral-100">{{ firstPartOfEmail }}</span>
      }
    } @else {
      <nz-avatar nzIcon="user"></nz-avatar>
      @if (!isCollapsed) {
        <a 
          [href]="`http://localhost:8080/oauth2/authorize?response_type=code&client_id=${environment.client_id}&redirect_uri=${environment.redirect_uri}`">
          <span class="text-neutral-100">Login</span>
        </a>
      }
    }
  </nz-avatar-group>
  <span class="block text-xs text-slate-700 pb-2 overflow-hidden whitespace-nowrap">
    {{ isCollapsed ? 'GMM' : 'Game Master Manager' }} &copy;
  </span>
</div>
