<nz-layout class="h-screen flex">
  <nz-sider class="relative z-10 min-h-screen shadow-[2px_0_6px_rgba(0,21,41,.35)] bg-slate-900!"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null"
  >
    <app-sidebar [isCollapsed]="isCollapsed" />
  </nz-sider>
  <nz-layout>
    <nz-header class="p-0! w-full! z-[2]!">
      <div class="relative h-16 p-0 bg-white shadow-[0_1px_4px_rgba(0,21,41,0.08)]">
        <span class="h-16 py-6 px-5 text-xl cursor-pointer" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="hover:text-blue-400!" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>
      </div>
    </nz-header>
    <nz-content class="m-6">
      <div class="p-6 bg-white h-full">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
