<div class="pl-6">
  <nz-avatar-group class="flex items-center gap-2 mb-2">
    <nz-avatar nzIcon="user"></nz-avatar>
    @if (!isCollapsed) {
      <a [href]="'http://localhost:8080/oauth2/authorize?response_type=code&client_id='+ environment.client_id +'&redirect_uri=' + environment.redirect_uri">
        <span class="text-neutral-100">Login</span>
      </a>
    }
  </nz-avatar-group>
  @if (!isCollapsed) {
    <span class="block text-xs text-slate-700 pb-2 overflow-hidden whitespace-nowrap">
            Game Master Manager &copy;
    </span>
  } @else {
    <span class="block text-xs text-slate-700 pb-2 overflow-hidden whitespace-nowrap">
            GMM &copy;
    </span>
  }
</div>
