<div class="mx-16 xl:mx-32">
  <div class="mb-8 flex flex-col items-center justify-center gap-2 text-center">
    <figure>
      <app-game-master-svg [size]="128" color="#0f172b" />
    </figure>
    <h1 class="text-6xl mb-2! font-bold text-slate-900 font-secondary tracking-wide">
      Game Master Manager
    </h1>
    <p class="text-lg text-slate-700 max-w-2xl">
      Bem-vindo ao <span class="font-semibold text-slate-900">Game Master Manager</span>,
      o sistema definitivo para gerenciar o <span class="font-semibold">e-commerce Game Master</span>.
    </p>
  </div>
  <div class=" mb-8 space-y-4 max-w-3xl mx-auto text-center">
    <p class="text-lg mb-1! text-slate-700">
      Aqui, você tem controle total sobre <span class="font-medium">usuários e acessos, inventário, pedidos, finanças, vendas, logística</span> e muito mais.
    </p>
    <p class="text-lg text-slate-700">
      Tudo isso de forma simples, intuitiva e de acordo com o seu nível de permissão.
      Prepare-se para uma gestão eficiente e sem complicações!
    </p>
  </div>
  <div class="grid grid-cols-2 xl:grid-cols-3 gap-4 text-center">
    <div class="flex flex-col items-center">
      <span class="text-4xl">📦</span>
      <p class="text-lg text-slate-700 mt-2">Gestão de Inventário</p>
      <p>Faça as seguintes operações de inventário:</p>
      <ul class="list-disc text-left">
        <li>Cadastre um produto</li>
        <li>Liste todos os produtos</li>
        <li>Edite um produto</li>
        <li>Liste as avaliações de um produto</li>
        <li>Veja o desempenho dos produtos</li>
      </ul>
    </div>
    <div class="flex flex-col items-center">
      <span class="text-4xl">💰</span>
      <p class="text-lg text-slate-700 mt-2">Controle Financeiro</p>
      <p>Faça as seguintes operações financeiras:</p>
      <ul class="list-disc text-left">
        <li>Gere relatórios financeiro</li>
        <li>Liste os gastos mensais</li>
        <li>Edite um gasto mensal</li>
      </ul>
    </div>
    <div class="col-span-2 xl:col-span-1 flex flex-col items-center">
      <span class="text-4xl">🛒</span>
      <p class="text-lg text-slate-700 mt-2">Pedidos</p>
      <p>Faça as seguintes operações de pedidos:</p>
      <ul class="list-disc text-left">
        <li>Listar pedidos</li>
        <li>Ver detalhes de um pedido</li>
        <li>Alterar status do Pedido</li>
      </ul>
    </div>
  </div>
</div>
