<h1 class="title mb-3!">Listar produtos</h1>
<nz-table 
    nzShowSizeChanger
    [nzLoading]="loading" 
    [nzLoadingIndicator]="loadingRef"
    [nzFrontPagination]="false"
    [nzTotal]="paginationResponse.totalElements"
    [nzPageSize]="paginationResponse.pageSize"
    [nzPageIndex]="paginationResponse.currentPage"
    [nzData]="paginationResponse.content" 
    (nzQueryParams)="onQueryParamsChange($event)"
    [class]="error ? 'mb-3' : ''"
>
    <thead>
      <tr>
        <th nzCustomFilter>
          Nome
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="name.length > 0" [nzDropdownMenu]="menu">
            <nz-icon nzType="search" />
          </nz-filter-trigger>
        </th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Peso (g)</th>
        <th nzColumnKey="status" [nzFilters]="options" [nzFilterFn]="true">Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (data of paginationResponse.content; track data.id) {
        <tr>
          <td><a [routerLink]="data.id" class="link">{{ data.name }}</a></td>
          <td>{{ data.amount }}</td>
          <td>{{ formattedPrice(data.price) }}</td>
          <td>{{ data.weight }}g</td>
          <td>{{ data.status | translateStatus }}</td>
          <td>
            <div class="group relative">
              <a>Ações <nz-icon nzType="down" /></a>
              <ul class="hidden dropdown group-hover:block">
                <li><a [routerLink]="['editar-produto', data.id]">Editar produto</a></li>
                <li><a [routerLink]="['editar-imagens', data.id]">Editar imagens</a></li>
                <li><a href="">Adicionar imagem</a></li>
                <li><a href="">Deletar produto</a></li>
              </ul>
            </div>
          </td>
        </tr>
      }
    </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="p-2">
        <app-input type="text" placeholder="Nome do produto" [control]="nameFilter" class="mb-1" />
        <div class="flex justify-between gap-2">
          <app-button size="small" type="primary" class="w-full" (click)="nameSearch()"><span text>Pesquisar</span></app-button>
          <app-button size="small" type="default" class="w-full" (click)="reset()"><span text>Limpar</span></app-button>
        </div>
      </div>
    </div>
</nz-dropdown-menu>
<ng-template #loadingRef>
  <app-loading [active]="loading" />
</ng-template>

@if (error) {
  <nz-alert
    nzType="error"
    nzMessage="Erro"
    [nzDescription]="error"
    nzShowIcon
    class="mb-4"
  ></nz-alert>
}
