<div #wrapper class="overflow-hidden">
    <div #wrapperControl class="flex justify-center gap-3 mb-3 min-h-[4.5rem] items-center *:opacity-50 *:hover:opacity-100 *:hover:scale-[1.2] *:cursor-pointer">
        <ng-content select="[control]"></ng-content>
    </div>
    <div #slide class="flex gap-5 *:shrink-0 *:w-[60%] *:opacity-50 mb-10">
        <ng-content select="[content]"></ng-content>
    </div>
    <div class="flex justify-center gap-5">
        <app-button (click)="activePrevSlide()"><span text>Anterior</span></app-button>
        <app-button (click)="activeNextSlide()"><span text>Próximo</span></app-button>
    </div>
</div>