<div class="flex flex-col items-center justify-center gap-2 text-center">
  <figure>
    <app-game-master-svg [size]="128" color="#0f172b" />
  </figure>
  <h1 class="text-6xl font-bold text-slate-900! font-secondary tracking-wide">
    Game Master Manager
  </h1>
  <p class="text-lg text-slate-700 max-w-2xl">
    Bem-vindo ao <span class="font-semibold text-slate-900">Game Master Manager</span>,
    o sistema definitivo para gerenciar o <span class="font-semibold">e-commerce Game Master</span>.
  </p>
</div>

<div class="mt-8 space-y-4 max-w-3xl mx-auto text-center">
  <p class="text-lg text-slate-700">
    Aqui, você tem controle total sobre <span class="font-medium">usuários e acessos, inventário, pedidos, finanças, vendas, logística</span> e muito mais.
  </p>
  <p class="text-lg text-slate-700">
    Tudo isso de forma simples, intuitiva e de acordo com o seu nível de permissão.
    Prepare-se para uma gestão eficiente e sem complicações!
  </p>
</div>

