/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --font-secondary: "Bungee", sans-serif;
  --animate-revealText: revealText 30s forwards;
  --animate-to-down: toDown .3s forwards;

  @keyframes toDown {
    from {
      transform: translateY(-12px);
    }
    to {
      transform: translateY(0px)
    }
  }

  @keyframes revealText {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

@layer components {
  .title {
    @apply text-4xl font-secondary text-slate-900;
  }

  .link {
    @apply text-slate-700! hover:text-slate-500! underline! cursor-pointer!
  }

  .dropdown {
    @apply p-4 bg-white shadow-2xl absolute z-10 *:not-last:mb-2;
  }
}
